@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=latin,latin-ext,cyrillic,cyrillic-ext);



html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-family: "AvertaLight", 'Trebuchet MS', sans-serif;
    background-color: #E8E8E8;
   
}






/*centralizador*/

.center{
    display: flex;
    align-items: center;
    
}



/* navbar*/

.container{
   height: 200px;
   padding: 60px 60px;
   
}




.menu ul{

    
    padding:0px;
    margin: 0px;
    background-color: #ffff;
    list-style: none;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
    
}

.menu ul li{
    display: inline;
    height: 100px;
    
}


.menu ul li a{
    padding: 10px 40px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
   
    

    

}

.menu ul li a:hover{
    background-color: #00ABE5;
    color: white;

}




