@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=latin,latin-ext,cyrillic,cyrillic-ext);



html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-family: "AvertaLight", 'Trebuchet MS', sans-serif;
    background-color: #E8E8E8;
   
}

/* estilização da barra de scroll */

::-webkit-scrollbar{
    width: 15px;
    border-radius: 50%;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF88;
    
}

::-webkit-scrollbar-thumb{
    background-color: #bbb;
   
    
}
::-webkit-scrollbar-thumb:hover{
    background-color: #00A7D3;
}


/*centralizador*/

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/* navbar*/

.container{
   height: 130px;
   padding: 10px 20px;
   
}
 

.menu ul{
    padding:0px;
    margin: 0px;
    background-color: #ffff;
    list-style: none;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
    
}

.menu ul li{
    display: inline;
    height: 100px;
    
}


.menu ul li a{
    padding: 10px 40px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
   
    

    

}

.menu ul li a:hover{
    background-color: #00ABE5;
    color: white;

}




/* pagina home */
/* conteúdo */

.conteudo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
    

}

.titulo{
    text-align: center;
    font-size: 40px;

}

.texto{
    font-size: 20px;
}

/*Rodapé*/
.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
    background-color: #EBEBEB;

}
.footer,.push{
    height: 200px;
    background-color: #545454;
    color: #FFFFFF;
}

.copy{
    background-color: rgb(41, 39, 39);
    text-align: center;
    height: 40px;
    

}



/*SLIDESHOW*/

*{box-sizing: border-box;}

.slideshow-container{
    max-width: 1600px;
    position: relative;
    margin: auto;
   
    box-shadow: 2px -5px 16px white;
}



.mySlides{
    display: none;
}


.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;


}


.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgb(0, 0,0, 0.8);
}


.dot{
    cursor: pointer;
    position:relative;
    bottom: 30px;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}

.active, .dot:hover{
    background-color: #717171;
}

.numbertext {
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}



/* efeitos do slide show*/

.fade{
    -webkit-animation-name:fade ;
    -webkit-animation-duration:1.5s ;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity:1}
}

@keyframes fade{
    from {opacity: .4;}
    to{opacity: 1;}
}



/*Pagina dos Simuladores*/

.container-simuladores{
    display: flex;
}


.conteudo1,.conteudo2,.conteudo3{
    height: 300px; 
    width: 300px; 
    background-color: rgb(56, 56, 68); 
    margin: 40px;
    border-radius: 20px;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
}


.conteudo1{
    background-image: url(fotos/calculadora.png);
}

.conteudo2{
    background-image:url(fotos/dimensionamento.png);
}

.conteudo1:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
    

}
.conteudo2:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
}
.conteudo3:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
}


/*CALCULADORA DE OHMS*/

.titulo-cal{
    text-align: center;
    font-size: 40px;
}


.container-cal{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 300px;
    margin: 50px;
    
}

.corrente,.resistencia,.tensao,.potencia{
    margin: 0px 60px;
    width: 400px;
    border-radius: 10px;
    background-color: #5CC4E3;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
        
}

.resposta{
    padding: 16px;
    height: 70px;
    text-align:center;
    font-size: 20px;
    background-color: blueviolet;
    margin: 20px 0px;

}

.nomeclatura{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.titulo_calc{
    font-size: 28px;
}

.calc{
    border: none;
    height: 20px;
    width: 100px;
    margin: 5px;
}
