@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=latin,latin-ext,cyrillic,cyrillic-ext);



html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-family: "AvertaLight", 'Trebuchet MS', sans-serif;
    background-color: #E8E8E8;
   
}

/* estilização da barra de scroll */

::-webkit-scrollbar{
    width: 15px;
    border-radius: 50%;
}

::-webkit-scrollbar-track{
    background-color: #FFFFFF88;
    
}

::-webkit-scrollbar-thumb{
    background-color: #bbb;
   
    
}
::-webkit-scrollbar-thumb:hover{
    background-color: #00A7D3;
}


/*centralizador*/

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/* navbar*/

.container{
   height: 130px;
   padding: 10px 20px;
   
}
 

.menu ul{
    padding:0px;
    margin: 0px;
    background-color: #ffff;
    list-style: none;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
    
}

.menu ul li{
    display: inline;
    height: 100px;
    
}


.menu ul li a{
    padding: 10px 40px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
   
    

    

}

.menu ul li a:hover{
    background-color: #00ABE5;
    color: white;

}




/* pagina home */
/* conteúdo */

.conteudo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    height: 600px;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
}
.content{
    justify-content: space-between;
}

.titulo{
    text-align: center;
    font-size: 40px;

}

.texto{
    font-size: 20px;

}

.texto-container{
    
    margin: 20px;

}
/*Rodapé*/
.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
    background-color: #EBEBEB;

}

.footer,.push{
    height: 200px;
    background-color: #545454;
    color: #FFFFFF;
}

.copy{
    
    align-items: flex-end;
    height: 40px;
    

}
svg{
    height: 80px;
    width: 80px;
}

.links-svg{
    display: flex;
    justify-content: space-evenly;
}

.texto-footer{
 max-width: 300px;
 text-align: justify;
}

/*SLIDESHOW*/

*{box-sizing: border-box;}

.slideshow-container{
    max-width: 1600px;
    position: relative;
    margin: auto;
   
    box-shadow: 2px -5px 16px white;
}



.mySlides{
    display: none;
}


.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;


}


.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgb(0, 0,0, 0.8);
}


.dot{
    cursor: pointer;
    position:relative;
    bottom: 30px;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}

.active, .dot:hover{
    background-color: #717171;
}

.numbertext {
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}



/* efeitos do slide show*/

.fade{
    -webkit-animation-name:fade ;
    -webkit-animation-duration:1.5s ;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity:1}
}

@keyframes fade{
    from {opacity: .4;}
    to{opacity: 1;}
}



/*Pagina dos Simuladores*/

.container-simuladores{
    display: flex;
}


.conteudo1,.conteudo2,.conteudo3{
    height: 300px; 
    width: 300px; 
    background-color: rgb(56, 56, 68); 
    margin: 40px;
    border-radius: 20px;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
}


.conteudo1{
    background-image: url(fotos/calculadora.png);
}

.conteudo2{
    background-image:url(fotos/dimensionamento.png);
}


.conteudo3{
    background-image: url(fotos/Instalaçoes.png);
}

.conteudo1:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
    

}
.conteudo2:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
}
.conteudo3:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.7s;
}


/*CALCULADORA DE OHMS*/

.titulo-cal{
    text-align: center;
    font-size: 40px;
}


.container-cal{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 300px;
    margin: 50px;
    
}

.corrente,.resistencia,.tensao,.potencia{
    margin: 0px 60px;
    width: 400px;
    border-radius: 10px;
    background-color: #0081B2;
    box-shadow: 2px -5px 16px rgb(163, 162, 162);
        
}

.resposta{
    text-align:center;
    padding: 16px;
    height: 70px;
    font-size: 20px;
    margin: 20px 0px;
    background-color: white;

}
.cadastro{
    text-align:center;
    width: 330px;
    margin-top: 20px;

    
    
}

.nomeclatura{
    display: inline-block;
    width: 80px;
    

    
    
}

.titulo_calc{
    font-size: 28px;
    
    border-bottom: solid #ffff;
}

.calc{
    border: none;
    height: 20px;
    width: 100px;
    margin: 5px;
}

.formula{
    font-size: 20px;

}

.botao_cal{
    border: none;
    height: 30px;

}

.botao_cal:hover{
    filter: brightness(60%);
    transition: 0.7s;
}



/*PAGINA SIMULADOR*/

.myCanvas{
    height: 650px;
    width: 1050px;
    border: 2px solid rgb(56, 56, 56);
    background-image: url(https://www.varejaodastintas.com.br/wp-content/uploads/2017/11/shutterstock_109482227-1024x802.jpg);
    
}
.quadro_força{
    width: 100px;
    height: 150px;
    background-color: #272121;
    color: white;
    display: flex;

}

.circuitBreaker{
    width: 60px;
    height: 90px;
    
}


.space{
    justify-content: space-between;
}



.parede{
    border: 2px solid rgb(32, 32, 32);
    height: 600px;
    width: 1000px;
    margin: 20px;
    background-color: #717171f1;


}


.fase{
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    margin-left: 20px;
    border-left: 4px solid #717171;
    border-top: 4px solid #717171;
    border-right: 4px solid #717171;
    height: 200px;
    width: 960px;
    
}

.neutro{
    border-radius: 10px 10px 0px 0px;
    margin-top: 30px;
    border-left:4px solid #717171;
    border-top: 4px solid #717171;
    height: 200px;
    width: 280px;
    margin-left: 5px;

}

.neutro_c{
    border-radius: 0px 10px 0px 0px;
    height: 85px;
    border-right: solid 4px #717171 ;
}


.retorno_c{
    border-radius: 10px 0px 0px 0px;
    height: 85px;
    border-left: solid 4px #717171 ;

}

.retorno{
    border-radius: 10px ;
    border-top: 4px solid #717171;
    border-right: 4px solid #717171;
    margin-top: 30px;
    height: 200px;
    width:520px;
    margin-left: 5px;
    margin-right: 5px;
}

.textoSimulador{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


.int{
    justify-content: space-evenly; 
    height: 200px; 
    width: 600px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input[type=checkbox]{
    height: 15px;
    width: 20px;
}


